*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}
body{
    background-color: #000814;
}
#navbar{
    background-color: #2E5266;
    height:75px;
}
.options{
    display: inline-block;
    margin-top:1%;
    margin-right: 100px;
    color:#010001;
    font-size: 20px;
    
}
#home{
    margin-left :900px;
}
#name{
    margin-left: 5px;
}
#login,#logout{
    padding:5px;
    background-color: #ffc300;
    color:rgb(112, 202, 209);
    border: 4px #ffc300 solid;
    border-radius: 20px;
    margin-right:auto;
}
a{
    text-decoration: none;
    color:#ffc300;
}
.signup-link{
    color: #2E5266;
}

.title{
    font-size: 70px;
    color: #ffc300;
    margin-top: 250px;
    margin-left:50px;
}
.aboutsac{
    font-size: 20px;
    color:#6E8898;
    margin-left:50px;
    width:700px;
    
}
.enroll{
    background-color: #ffc300;
    padding: 1%;
    width: 110px;
    height:20px;
    margin-left: 50px;
    margin-top: 15px;
    border: 4px #ffc300 solid;
    border-radius: 10px;
}
.enroll-button{
    color:#2E5266;
    font-size: 20px;
    font-weight: bold;
}
.msg{
    color:#D3D0CB;
    margin-top: 120px;
    margin-left: 50px;
    height: 20px;
    width: 300px;
}
.base{
    z-index: 1;
    display: flex;
    height:100%;
    width:100%;
    
}
.right{
    padding-left: 50px;
    height:100vh;
}
.picbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height:100%;
    gap:5px 20px;
}
.pic{
    width: 150px;
    height: 190px;
    margin: 5px;
    text-align: center;
    background-size: cover;
    border: 10px #6E8898 solid;
    
}
.planetImg{
    position: absolute;
    top: 0px;
    left: 0px;
    animation: movePlanet 20s infinite alternate; ;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
}
@keyframes movePlanet {
    0% {
        transform: translate(450px, 100px); 
    }
    400% {
        transform: translate(950px, -100px);
    }
    50% {
        transform: translate(100px, 750px);  
    }
    
}
.ind{
    background-position: -70px;
}
.country{
    background-color: #D3D0CB;
    color: #2E5266;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.afg{
    background-image: url("images/afgh.jpg");
}
.bangl{
    background-image: url("images/bangla.jpeg");
}
.bhu{
    background-image: url("images/bhu.jpg");
}
.ind{
    background-image: url("images/ind.jpeg");
}
.mal{
    background-image: url("images/mal.jpg");
}
.nep{
    background-image: url("images/nep.jpg");
}
.pak{
    background-image: url("images/pak.jpg");
}
.sl{
    background-image: url("images/sl.jpg");
}
.pic:hover{
    transform:scale(1.2);
}
.enroll:hover{
    transform:scale(1.2);
}
.searchBoxCountry{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;

}
